body{ 
    background-color: black;
    color: white;
    font-family:Arial;
    text-align: center;
}

h1{
    color: red;
    font-size: 50px;
}
h2{
    color: red;
}
p{
    font-size: 18px;
}
button{
    background-color: red;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
img{
    width: 300px;
    border-radius: 15px;
    margin: 10px;
} 
hr{
    width: 70%ss;
}
button:hover{
    background-color: white;
    color: red;
    cursor: pointer;
} 
nav{
    background-color: #111;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
} 
a:hover{
    color: red;
}
.card{
    background-color:#111;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}  
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 
footer{
    background-color: #111;
    padding: 20px;
    margin-top: 40px;
} 
 